
<br><br><br>
<div>


	
<form *ngIf="!generated" class="example-form" ng>



  <br><br>

  <mat-form-field class="example-full-width">
    <mat-label>Company Name</mat-label>
    <input name="companyName" [(ngModel)]="companyName" matInput placeholder="Google,inc" >
  </mat-form-field> <br><br><br>

  

    
   <div class="form-row">
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputEmail4">Email</label> -->
      <input name="returnDays" [(ngModel)]="returnDays" matInput    placeholder="Return Days">
    </mat-form-field>
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputEmail4">Email</label> -->
      <input name="refundDays" [(ngModel)]="refundDays" matInput    placeholder="Refund Days">
    </mat-form-field>
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputEmail4">Email</label> -->
      <input name="last_updated" [(ngModel)]="last_updated" matInput    placeholder="Last Updated">
    </mat-form-field>
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputPassword4">Password</label> -->
      <input name="companyEmail" [(ngModel)]="companyEmail" matInput  placeholder="Company Email">
    </mat-form-field>
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputPassword4">Password</label> -->
      <input name="WebUrl" [(ngModel)]="WebUrl" matInput  placeholder="Website URL">
    </mat-form-field>
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputPassword4">Password</label> -->
      <input name="companyNumber" [(ngModel)]="companyNumber" matInput  placeholder="Company Number">
    </mat-form-field>
  </div> <br>




  <mat-form-field class="example-full-width">
    <mat-label>Company Address</mat-label>
    <input name="companyAddress" [(ngModel)]="companyAddress" matInput placeholder="Company Address" >
  </mat-form-field> 

<br><br><br>
<button *ngIf="WebUrl && companyName && companyAddress && companyEmail && companyNumber && returnDays && refundDays && last_updated"(click)="generate()" color="primary" mat-raised-button  type="button" class="btn btn-primary btn-sm btn-block">Generate</button>


<button *ngIf="!WebUrl || !companyName|| !companyAddress|| !companyEmail || !companyNumber || !returnDays || !refundDays || !last_updated" color="primary" mat-raised-button  type="button" class="btn btn-primary btn-sm btn-block disabled">Generate</button>
</form>





</div>

<mat-card  *ngIf="generated">

<div>

 

<mat-tab-group animationDuration="0ms">

   

  <mat-tab label="Plain Text"><br>
  	
      <button  style="float: right;" mat-fab color="primary" type="button" appCopyClipboard (click)="copyText()"  value="click to copy"><i class="fa fa-clone" aria-hidden="true"></i></button>

<br><br>

<span id="container">
<h1><b>RETURN POLICY</b>
  <br>
  <span style="font-size: 15px;" class="text-muted">Last updated {{last_updated}}</span>
</h1>



<h2><b>RETURNS</b></h2>

<p>All returns must be postmarked within{{returnDays}}days of the purchase date. All returned items must be in new and unused condition, with all original tags and labels attached.</p>

<h2><b>RETURN PROCESS</b></h2>

<p>To return an item, please email customer service at {{companyEmail}} to obtain a Return Merchandise Authorization (RMA) number. After receiving a RMA number, place the item securely in its original packaging, and mail your return to the following address:</p>
<br>
<p>{{companyEmail}}</p><br>
<p>Attn: Returns</p><br>
<p>RMA #</p><br>
<p>{{companyAddress}}</p><br> 


<p>Return shipping charges will be paid or reimbursed by us.</p><br> 

<h2><b>REFUNDS</b></h2>

<p>After receiving your return and inspecting the condition of your item, we will process your return. Please allow at least {{refundDays}}days from the receipt of your item to process your return. Refunds may take 1-2 billing cycles to appear on your credit card statement, depending on your credit card company. We will notify you by email when your return has been processed.
</p><br>
<h2><b>EXCEPTIONS</b>    </h2>

<p>For defective or damaged products, please contact us at the customer service number below to arrange a refund or exchange. 
 </p>       

<h2><b>QUESTIONS</b></h2>

<p>If you have any questions concerning our return policy, please contact us at:<br>
{{companyNumber}}<br>
{{companyEmail}}<br>

</p>
    
</span>

  </mat-tab>
  <mat-tab label="HTML">

  	<br>
  	
      <button  style="float: right;" mat-fab color="primary" type="button" appCopyClipboard (click)="copyHtml()"  ><i class="fa fa-clone" aria-hidden="true"></i></button>

<br><br>
  	
<textarea id="content">
 
 <span>
<h1><b>RETURN POLICY</b>
  <br>
  <span style="font-size: 15px;" class="text-muted">Last updated {{last_updated}}</span>
</h1>



<h2><b>RETURNS</b></h2>

<p>All returns must be postmarked within{{returnDays}}days of the purchase date. All returned items must be in new and unused condition, with all original tags and labels attached.</p>

<h2><b>RETURN PROCESS</b></h2>

<p>To return an item, please email customer service at {{companyEmail}} to obtain a Return Merchandise Authorization (RMA) number. After receiving a RMA number, place the item securely in its original packaging, and mail your return to the following address:</p>
<br>
<p>{{companyEmail}}</p><br>
<p>Attn: Returns</p><br>
<p>RMA #</p><br>
<p>{{companyAddress}}</p><br> 


<p>Return shipping charges will be paid or reimbursed by us.</p><br> 

<h2><b>REFUNDS</b></h2>

<p>After receiving your return and inspecting the condition of your item, we will process your return. Please allow at least {{refundDays}}days from the receipt of your item to process your return. Refunds may take 1-2 billing cycles to appear on your credit card statement, depending on your credit card company. We will notify you by email when your return has been processed.
</p><br>
<h2><b>EXCEPTIONS</b>    </h2>

<p>For defective or damaged products, please contact us at the customer service number below to arrange a refund or exchange. 
 </p>       

<h2><b>QUESTIONS</b></h2>

<p>If you have any questions concerning our return policy, please contact us at:<br>
{{companyNumber}}<br>
{{companyEmail}}<br>

</p>
    
</span>

</textarea>

</mat-tab>
</mat-tab-group>


</div>








</mat-card>
<br><br><br>


















