
<br><br>
<div class="container">
  <div class="row"> 

    <div class="col-sm-4">
       <mat-card routerLink="/privacy-policy" class="card">
       	<img mat-card-image src="assets/img/privacypolicy.jpg">
       	 <mat-card-title>
       	 	Privacy Policy
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>
       <mat-card routerLink="/refund-policy" class="card">
       	<img mat-card-image src="assets/img/refung.jpg">
       	 <mat-card-title>
       	 	Refund Policy
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>
       <mat-card routerLink="/terms-of-use" class="card">
       	<img mat-card-image src="assets/img/terms-of-service.jpg">
       	 <mat-card-title>
       	 	Terms of Use 
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>


    </div>
    <div class="col-sm-4">
     
 
      <mat-card routerLink="/terms-and-conditions" class="card">
       	<img mat-card-image src="assets/img/terms&cond.jpg">
       	 <mat-card-title>
       	 	Terms and Conditions
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>
       <mat-card routerLink="/cookies-policy" class="card">
       	<img mat-card-image src="assets/img/cookieds.jpg">
       	 <mat-card-title>
       	 	Cookies Policy
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>
       <mat-card routerLink="/disclaimer-policy" class="card">
       	<img mat-card-image src="assets/img/disclaimer.jpg">
       	 <mat-card-title>
       	 	Disclaimer 
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>



    </div>
    <div class="col-sm-4">
      

    <mat-card routerLink="/eula-policy" class="card">
       	<img mat-card-image src="assets/img/eula.jpg">
       	 <mat-card-title>
       	 	EULA Policy
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>
       <mat-card routerLink="/terms-of-service" class="card">
       	<img mat-card-image src="assets/img/terms-of-use.jpg">
       	 <mat-card-title>
       	 	Terms of Service
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>
       <mat-card routerLink="/non-disclosure-agreement" class="card">
       	<img mat-card-image src="assets/img/undraw_posting_photo.svg">
       	 <mat-card-title>
       	 	Non Disclosure Agreement 
       	 </mat-card-title>
       	 <mat-card-content>simple mat card</mat-card-content>
       </mat-card>



    </div>
  </div>




</div>


