
<br><br><br>
<div>


	
<form *ngIf="!generated" class="example-form" ng>
  <mat-form-field class="example-full-width">
    <mat-label>Company Name</mat-label>
    <input name="companyName" [(ngModel)]="companyName" matInput placeholder="Google,inc" >
  </mat-form-field> <br><br><br>

 <mat-form-field class="example-full-width">
    <mat-label>Company Number</mat-label>
    <input name="companyNumber" [(ngModel)]="companyNumber" matInput placeholder="Company Number" >
  </mat-form-field> <br><br><br>

  <mat-form-field class="example-full-width">
    <mat-label>Website URL</mat-label>
    <input name="WebUrl"  [(ngModel)]="WebUrl"  matInput placeholder="https://www.example.com">
  </mat-form-field>

<br><br><br>
<button *ngIf="WebUrl && companyName && companyNumber "(click)="generate()" color="primary" mat-raised-button  type="button" class="btn btn-primary btn-sm btn-block">Generate</button>


<button *ngIf="!WebUrl || !companyName || !companyNumber" color="primary" mat-raised-button  type="button" class="btn btn-primary btn-sm btn-block disabled">Generate</button>
</form>





</div>

<mat-card  *ngIf="generated">

<div>

 

<mat-tab-group animationDuration="0ms">

   

  <mat-tab label="Plain Text"><br>
  	
      <button  style="float: right;" mat-fab color="primary" type="button" appCopyClipboard (click)="copyText()"  value="click to copy"><i class="fa fa-clone" aria-hidden="true"></i></button>

<br><br>



<span id="container"> 


<h1><b>CCPA Privacy Policy</b></h1>

<p>This PRIVACY NOTICE FOR CALIFORNIA RESIDENTS supplements the information contained in the Privacy Statement of {{companyName}} and its subsidiaries (collectively, “we,” “us,” or “our”) and applies solely to visitors, users, and others who reside in the State of California (“consumers” or “you”). We adopt this notice to comply with the California Consumer Privacy Act of 2018 (“CCPA”) and other California privacy laws.  Any terms defined in the CCPA have the same meaning when used in this notice.
</p><br>
<h2><b>Information We Collect</b></h2>
<p>
We collect information that identifies, relates to, describes, references, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or device (“personal information”). In particular, we have collected the following categories of personal information from consumers within the last twelve (12) months:
</p>
<br>

<table class="table table-bordered">
  <thead>

<tr>
<th>Category</th>
<th>Examples</th>
<th>Collected</th>
</tr>

</thead>
 <tbody>   

<tr>
<th>A. Identifiers.</th>
<td>A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, Social Security number, driver's license number, passport number, or other similar identifiers.</td>

<td><b>YES</b></td>
</tr>
<tr>
<th>B. Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)).</th>
<td>
A name, signature, Social Security number, physical characteristics or description, address, telephone number, passport number, driver's license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information. Some personal information included in this category may overlap with other categories.</td>
<td>YES</td>
</tr>

<tr>
<th>C. Protected classification characteristics under California or federal law.</th>
<td>
Age (40 years or older), race, color, ancestry, national origin, citizenship, religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</td>
<td>YES</td>
</tr>

<tr>
<th>D. Commercial information.</th>
<td>
Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.</td>
<td>NO</td>
</tr>

<tr><th>E. Biometric information.</th>
<td>
Genetic, physiological, behavioral, and biological characteristics, or activity patterns used to extract a template or other identifier or identifying information, such as, fingerprints, faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, and sleep, health, or exercise data.</td>
<td>NO</td>
</tr>

<tr>
    <th>F. Internet or other similar network activity.</th>
<td>
Browsing history, search history, information on a consumer's interaction with a website, application, or advertisement.
</td>
<td>NO</td>
</tr>



<tr>
<th>G. Geolocation data.</th>
<td>
Physical location or movements.
</td>
<td>NO</td>
</tr>

<tr>
<th>H. Sensory data.</th>

<td>Audio, electronic, visual, thermal, olfactory, or similar information.</td>
<td>NO</td>

</tr>

<tr>
<th>I. Professional or employment-related information.</th>
<td>Current or past job history or performance evaluations.</td>
<td>YES</td>
</tr>

<tr>
    <th>J. Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99)).</th>

<td>Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.
</td>
<td>NO</td>

</tr>
<tr>
<th>K. Inferences drawn from other personal information.</th>

<td>Profile reflecting a person's preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</td>
<td>NO</td>
</tr>
</tbody>




</table>



<h2><b>Personal information does not include:</b></h2>
    <ul>
    <li> Publicly available information from government records.</li>
    <li> De-identified or aggregated consumer information.</li>
    <li> Information excluded from the CCPA's scope, like:
        <ul>
        	<li> health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data;
        	</li>
            <li> personal information covered by certain sector-specific privacy laws, including the Fair Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act (FIPA), and the Driver's Privacy Protection Act of 1994.
            </li>
        </ul>
    </li>
    </ul><br>

<p>We obtain the categories of personal information listed above from the following categories of sources:
</p>
<ul>	
    <li> Directly from our clients or their agents. For example, from documents that our clients provide to us related to the services for which they engage us.
    </li>
    <li> Indirectly from our clients or their agents. For example, through information we collect from our clients in the course of providing services to them.
    </li>
    <li> Directly and indirectly from activity on our website (www.hornellp.com). For example, from submissions through our website portal or website usage details collected automatically.
    </li>
    <li> From third-parties that interact with us in connection with the services we perform. For example, from government agencies when we prepare readiness assessments for projects that receive government funding.
    </li>
</ul>

<h2><b>Use of Personal Information</b></h2>
<p>We may use or disclose the personal information we collect for one or more of the following business purposes:</p>
    <ul>
    	<li> To fulfill or meet the reason for which the information is provided. For example, if you provide us with personal information in order for us to prepare a tax return, we will use that information to prepare the return and submit it to the applicable taxing authorities.
    	</li>
        <li> To provide you with information, products or services that you request from us.</li>
        <li>
        To provide you with email alerts, event registrations and other notices concerning our products or services, or events or news, that may be of interest to you.
        </li>
        <li>
         To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collections.
        </li>
        <li>
         To improve our website and present its contents to you.
        </li>
        <li>
         For testing, research, analysis and product development.
        </li>
        <li>
        As necessary or appropriate to protect the rights, property or safety of us, our clients or others.
        </li>
        <li> To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.
        </li>
        <li>
        As described to you when collecting your personal information or as otherwise set forth in the CCPA.
        </li>
       <li> To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by us is among the assets transferred.
       </li>
    </ul><br>
<p>We will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you notice.
</p><br>

<h2><b>Sharing Personal Information</b></h2>
<p>We may disclose your personal information to a third party for a business purpose.  When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract.</p>

<h2><b>In the preceding twelve (12) months, we have disclosed the following categories of personal information for a business purpose:</b></h2>

<span>Category A: </span>            <span>Identifiers.</span><br>
<span>Category B: </span>            <span>California Customer Records personal information categories.</span><br>
<span>Category C:</span>             <span>Protected classification characteristics under California or federal law.</span><br>
<span>Category I:</span>              <span>Professional or employment-related information.</span>
<p>We disclose your personal information for a business purpose to the following categories of third parties:</p>
<ul>
    <li> Our affiliates.</li>
    <li> Service providers.</li>
    <li> Third parties to whom you or your agents authorize us to disclose your personal information in connection with products or services we provide to you.</li>
 </ul>
    
<p>In the preceding twelve (12) months, we have not sold any personal information.
Your Rights and Choices<br>
The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.<br>
Access to Specific Information and Data Portability Rights<br>
You have the right to request that we disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:</p><br>
<ul>
    <li>
      The categories of personal information we collected about you.
    </li>
    <li> The categories of sources for the personal information we collected about you.</li>
    <li> Our business or commercial purpose for collecting or selling that personal information.</li>
    <li> The categories of third parties with whom we share that personal information.</li>
    <li> The specific pieces of personal information we collected about you (also called a data portability request).</li>
    <li>If we sold or disclosed your personal information for a business purpose, two separate lists disclosing: 
    <ul>
        <li> sales, identifying the personal information categories that each category of recipient purchased; and</li>
        <li> disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.</li>
    </ul>
    </li>

 </ul>   

<h2><b>Deletion Request Rights</b></h2>

<p>You have the right to request that we delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request, we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies.
We may deny your deletion request if retaining the information is necessary for us or our service providers to:
</p>
<ol>
    <li> Complete the transaction for which we collected the personal information, provide a good or service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform our contract with you. </li>
    <li> Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities. </li>
    <li> Debug products to identify and repair errors that impair existing intended functionality.</li>
    <li> Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</li>
    <li> Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 seq.).</li>
    <li> Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information's deletion may likely render impossible or seriously impair the research's achievement, if you previously provided informed consent.
    </li>
    <li> Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us.</li>
    <li> Comply with a legal obligation.</li>
    <li> Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</li>

</ol>

<p>
Exercising Access, Data Portability, and Deletion Rights
To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:
</p>
    <ul>
     <li> Calling us at {{companyNumber}} </li>
     <li> Visiting {{WebUrl}} </li>

    </ul>

<p>Only you or a person registered with the California Secretary of State that you authorize to act on your behalf, may make a verifiable consumer request related to your personal information. You may also make a verifiable consumer request on behalf of your minor child.<br>
You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:

</p>
<ul>
    <li> Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative.
    </li>
    <li> Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>


</ul> 

<p>We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you.  Making a verifiable consumer request does not require you to create an account with us.  We will only use personal information provided in a verifiable consumer request to verify the requestor's identity or authority to make the request.
</p>

<h2><b>Response Timing and Format</b></h2>

<p>We endeavor to respond to a verifiable consumer request within 45 days of its receipt.  If we require more time (up to 90 days), we will inform you of the reason and extension period in writing.  If you have an account with us, we will deliver our written response to that account.  If you do not have an account with us, we will deliver our written response by mail or electronically, at your option.  Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request's receipt.<br>  The response we provide will also explain the reasons we cannot comply with a request, if applicable.  For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance.<br>
We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded.  If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.
</p>

<h2><b>Non-Discrimination</b></h2>
<p>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:</p>

<ul>
    <li>
      Deny you goods or services.
    </li>
    <li> Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties. </li>
     <li> Provide you a different level or quality of goods or services.</li>
     <li>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
 </ul>

<h2><b>Changes to Our Privacy Notice</b></h2>
<p>We reserve the right to amend this privacy notice at our discretion and at any time. When we make changes to this privacy notice, we will notify you by email or through a notice on our website homepage.</p>

<h2><b>Contact Information</b></h2>

<p>If you have any questions or comments about this notice, our Privacy Statement, the ways in which we collect and use your personal information, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:
</p>

</span>




    


  </mat-tab>
  <mat-tab label="HTML">

  	<br>
  	
      <button  style="float: right;" mat-fab color="primary" type="button" appCopyClipboard (click)="copyHtml()"  ><i class="fa fa-clone" aria-hidden="true"></i></button>

<br><br>
  	
<textarea id="content">



<span id="container"> 


<h1><b>CCPA Privacy Policy</b></h1>

<p>This PRIVACY NOTICE FOR CALIFORNIA RESIDENTS supplements the information contained in the Privacy Statement of {{companyName}} and its subsidiaries (collectively, “we,” “us,” or “our”) and applies solely to visitors, users, and others who reside in the State of California (“consumers” or “you”). We adopt this notice to comply with the California Consumer Privacy Act of 2018 (“CCPA”) and other California privacy laws.  Any terms defined in the CCPA have the same meaning when used in this notice.
</p><br>
<h2><b>Information We Collect</b></h2>
<p>
We collect information that identifies, relates to, describes, references, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or device (“personal information”). In particular, we have collected the following categories of personal information from consumers within the last twelve (12) months:
</p>
<br>

<table class="table table-bordered">
  <thead>

<tr>
<th>Category</th>
<th>Examples</th>
<th>Collected</th>
</tr>

</thead>
 <tbody>   

<tr>
<th>A. Identifiers.</th>
<td>A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, Social Security number, driver's license number, passport number, or other similar identifiers.</td>

<td><b>YES</b></td>
</tr>
<tr>
<th>B. Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)).</th>
<td>
A name, signature, Social Security number, physical characteristics or description, address, telephone number, passport number, driver's license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information. Some personal information included in this category may overlap with other categories.</td>
<td>YES</td>
</tr>

<tr>
<th>C. Protected classification characteristics under California or federal law.</th>
<td>
Age (40 years or older), race, color, ancestry, national origin, citizenship, religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</td>
<td>YES</td>
</tr>

<tr>
<th>D. Commercial information.</th>
<td>
Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.</td>
<td>NO</td>
</tr>

<tr><th>E. Biometric information.</th>
<td>
Genetic, physiological, behavioral, and biological characteristics, or activity patterns used to extract a template or other identifier or identifying information, such as, fingerprints, faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, and sleep, health, or exercise data.</td>
<td>NO</td>
</tr>

<tr>
    <th>F. Internet or other similar network activity.</th>
<td>
Browsing history, search history, information on a consumer's interaction with a website, application, or advertisement.
</td>
<td>NO</td>
</tr>



<tr>
<th>G. Geolocation data.</th>
<td>
Physical location or movements.
</td>
<td>NO</td>
</tr>

<tr>
<th>H. Sensory data.</th>

<td>Audio, electronic, visual, thermal, olfactory, or similar information.</td>
<td>NO</td>

</tr>

<tr>
<th>I. Professional or employment-related information.</th>
<td>Current or past job history or performance evaluations.</td>
<td>YES</td>
</tr>

<tr>
    <th>J. Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99)).</th>

<td>Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.
</td>
<td>NO</td>

</tr>
<tr>
<th>K. Inferences drawn from other personal information.</th>

<td>Profile reflecting a person's preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</td>
<td>NO</td>
</tr>
</tbody>




</table>



<h2><b>Personal information does not include:</b></h2>
    <ul>
    <li> Publicly available information from government records.</li>
    <li> De-identified or aggregated consumer information.</li>
    <li> Information excluded from the CCPA's scope, like:
        <ul>
            <li> health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data;
            </li>
            <li> personal information covered by certain sector-specific privacy laws, including the Fair Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act (FIPA), and the Driver's Privacy Protection Act of 1994.
            </li>
        </ul>
    </li>
    </ul><br>

<p>We obtain the categories of personal information listed above from the following categories of sources:
</p>
<ul>    
    <li> Directly from our clients or their agents. For example, from documents that our clients provide to us related to the services for which they engage us.
    </li>
    <li> Indirectly from our clients or their agents. For example, through information we collect from our clients in the course of providing services to them.
    </li>
    <li> Directly and indirectly from activity on our website (www.hornellp.com). For example, from submissions through our website portal or website usage details collected automatically.
    </li>
    <li> From third-parties that interact with us in connection with the services we perform. For example, from government agencies when we prepare readiness assessments for projects that receive government funding.
    </li>
</ul>

<h2><b>Use of Personal Information</b></h2>
<p>We may use or disclose the personal information we collect for one or more of the following business purposes:</p>
    <ul>
        <li> To fulfill or meet the reason for which the information is provided. For example, if you provide us with personal information in order for us to prepare a tax return, we will use that information to prepare the return and submit it to the applicable taxing authorities.
        </li>
        <li> To provide you with information, products or services that you request from us.</li>
        <li>
        To provide you with email alerts, event registrations and other notices concerning our products or services, or events or news, that may be of interest to you.
        </li>
        <li>
         To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collections.
        </li>
        <li>
         To improve our website and present its contents to you.
        </li>
        <li>
         For testing, research, analysis and product development.
        </li>
        <li>
        As necessary or appropriate to protect the rights, property or safety of us, our clients or others.
        </li>
        <li> To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.
        </li>
        <li>
        As described to you when collecting your personal information or as otherwise set forth in the CCPA.
        </li>
       <li> To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by us is among the assets transferred.
       </li>
    </ul><br>
<p>We will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you notice.
</p><br>

<h2><b>Sharing Personal Information</b></h2>
<p>We may disclose your personal information to a third party for a business purpose.  When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract.</p>

<h2><b>In the preceding twelve (12) months, we have disclosed the following categories of personal information for a business purpose:</b></h2>

<span>Category A: </span>            <span>Identifiers.</span><br>
<span>Category B: </span>            <span>California Customer Records personal information categories.</span><br>
<span>Category C:</span>             <span>Protected classification characteristics under California or federal law.</span><br>
<span>Category I:</span>              <span>Professional or employment-related information.</span>
<p>We disclose your personal information for a business purpose to the following categories of third parties:</p>
<ul>
    <li> Our affiliates.</li>
    <li> Service providers.</li>
    <li> Third parties to whom you or your agents authorize us to disclose your personal information in connection with products or services we provide to you.</li>
 </ul>
    
<p>In the preceding twelve (12) months, we have not sold any personal information.
Your Rights and Choices<br>
The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.<br>
Access to Specific Information and Data Portability Rights<br>
You have the right to request that we disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:</p><br>
<ul>
    <li>
      The categories of personal information we collected about you.
    </li>
    <li> The categories of sources for the personal information we collected about you.</li>
    <li> Our business or commercial purpose for collecting or selling that personal information.</li>
    <li> The categories of third parties with whom we share that personal information.</li>
    <li> The specific pieces of personal information we collected about you (also called a data portability request).</li>
    <li>If we sold or disclosed your personal information for a business purpose, two separate lists disclosing: 
    <ul>
        <li> sales, identifying the personal information categories that each category of recipient purchased; and</li>
        <li> disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.</li>
    </ul>
    </li>

 </ul>   

<h2><b>Deletion Request Rights</b></h2>

<p>You have the right to request that we delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request, we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies.
We may deny your deletion request if retaining the information is necessary for us or our service providers to:
</p>
<ol>
    <li> Complete the transaction for which we collected the personal information, provide a good or service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform our contract with you. </li>
    <li> Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities. </li>
    <li> Debug products to identify and repair errors that impair existing intended functionality.</li>
    <li> Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</li>
    <li> Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 seq.).</li>
    <li> Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information's deletion may likely render impossible or seriously impair the research's achievement, if you previously provided informed consent.
    </li>
    <li> Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us.</li>
    <li> Comply with a legal obligation.</li>
    <li> Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</li>

</ol>

<p>
Exercising Access, Data Portability, and Deletion Rights
To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:
</p>
    <ul>
     <li> Calling us at {{companyNumber}} </li>
     <li> Visiting {{WebUrl}} </li>

    </ul>

<p>Only you or a person registered with the California Secretary of State that you authorize to act on your behalf, may make a verifiable consumer request related to your personal information. You may also make a verifiable consumer request on behalf of your minor child.<br>
You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:

</p>
<ul>
    <li> Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative.
    </li>
    <li> Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>


</ul> 

<p>We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you.  Making a verifiable consumer request does not require you to create an account with us.  We will only use personal information provided in a verifiable consumer request to verify the requestor's identity or authority to make the request.
</p>

<h2><b>Response Timing and Format</b></h2>

<p>We endeavor to respond to a verifiable consumer request within 45 days of its receipt.  If we require more time (up to 90 days), we will inform you of the reason and extension period in writing.  If you have an account with us, we will deliver our written response to that account.  If you do not have an account with us, we will deliver our written response by mail or electronically, at your option.  Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request's receipt.<br>  The response we provide will also explain the reasons we cannot comply with a request, if applicable.  For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance.<br>
We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded.  If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.
</p>

<h2><b>Non-Discrimination</b></h2>
<p>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:</p>

<ul>
    <li>
      Deny you goods or services.
    </li>
    <li> Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties. </li>
     <li> Provide you a different level or quality of goods or services.</li>
     <li>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
 </ul>

<h2><b>Changes to Our Privacy Notice</b></h2>
<p>We reserve the right to amend this privacy notice at our discretion and at any time. When we make changes to this privacy notice, we will notify you by email or through a notice on our website homepage.</p>

<h2><b>Contact Information</b></h2>

<p>If you have any questions or comments about this notice, our Privacy Statement, the ways in which we collect and use your personal information, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:
</p>

</span>


</textarea>

</mat-tab>
</mat-tab-group>


</div>








</mat-card>













<br><br><br>



