
<br><br><br>
<div>


	
<form *ngIf="!generated" class="example-form" ng>
  <mat-form-field class="example-full-width">
    <mat-label>CEO</mat-label>
    <input name="CEO" [(ngModel)]="CEO" matInput placeholder="CEO" >
  </mat-form-field> <br><br><br>

<div class="form-row">
     <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputEmail4">Email</label> -->
      <input name="companyName" [(ngModel)]="companyName" matInput    placeholder="company Name">
    </mat-form-field>
      <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputEmail4">Email</label> -->
      <input name="registerNumber" [(ngModel)]="registerNumber" matInput    placeholder="Register Number">
    </mat-form-field>
   
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputEmail4">Email</label> -->
      <input name="eventName" [(ngModel)]="eventName" matInput    placeholder="Event Name">
    </mat-form-field>
    <mat-form-field class="form-group col-md-6">
      <!-- <label for="inputPassword4">Password</label> -->
      <input name="date" [(ngModel)]="date" matInput  placeholder="Event Date">
    </mat-form-field>
  </div> <br>

  <mat-form-field class="example-full-width">
    <mat-label>Company Address</mat-label>
    <input name="companyAddress"  [(ngModel)]="companyAddress"  matInput placeholder="Company Address">
  </mat-form-field><br><br>

  <mat-form-field class="example-full-width">
    <mat-label>Website URL</mat-label>
    <input name="WebUrl"  [(ngModel)]="WebUrl"  matInput placeholder="https://www.example.com">
  </mat-form-field>

<br><br><br>
<button *ngIf="WebUrl && companyName && CEO && eventName && date && companyAddress "(click)="generate()" color="primary" mat-raised-button  type="button" class="btn btn-primary btn-sm btn-block">Generate</button>


<button *ngIf="!WebUrl || !companyName || !CEO || !eventName || !date || !companyAddress" color="primary" mat-raised-button  type="button" class="btn btn-primary btn-sm btn-block disabled">Generate</button>
</form>





</div>

<mat-card  *ngIf="generated">

<div>

 

<mat-tab-group animationDuration="0ms">

   

  <mat-tab label="Plain Text"><br>
  	
      <button  style="float: right;" mat-fab color="primary" type="button" appCopyClipboard (click)="copyText()"  value="click to copy"><i class="fa fa-clone" aria-hidden="true"></i></button>

<br><br>



<span id="container">
 
 <h1><b>  Non-Disclosure agreement</b></h1>

<b>DATE</b>
[Date]

<h2><b>PARTIES</b></h2>
<ol>
 <li>1.	[{{CEO}} of {{companyAddress}}] OR {{companyName}}, a company incorporated in [England and Wales] (registration number {{registerNumber}}) having its registered office at {{companyAddress}}] OR [[PARTNERSHIP NAME], a partnership established under the laws of [England and Wales] having its principal place of business at {{companyAddress}}] (the "Disclosor"); and </li>
 <li>2.	[{{CEO}} of {{companyAddress}}] OR [{{companyName}}, a company incorporated in [England and Wales] (registration number {{registerNumber}}) having its registered office at [address]] OR [[PARTNERSHIP NAME], a partnership established under the laws of [England and Wales] having its principal place of business at {{companyAddress}}] (the "Recipient").
 </li>
</ol>

<h2><b>AGREEMENT</b></h2>

<h2><b>1.	Definitions</b></h2>
<p>1.1	In this Agreement[, except to the extent expressly provided otherwise]:<br>
 <b>"Agreement"</b> means this agreement, and any amendments to this agreement from time to time;<br>
<b>"Business Day"</b> means any weekday other than a bank or public holiday in [England];<br>
<b>"Disclosor Confidential Information"</b> means:<br>
(a)	any information disclosed by [or on behalf of ]the Disclosor to the Recipient [during the Term] OR [at any time before the termination of this Agreement] (whether disclosed in writing, orally or otherwise) that at the time of disclosure was marked[ or described] as "confidential" or should have been understood by the Recipient (acting reasonably) to be confidential; and<br>
(b)	[the terms of this Agreement];

<b>"Effective Date"</b> means [the date of execution of this Agreement];<br>
<b>"Permitted Purpose"</b> means [specify purpose or purposes]; and<br>
<b>"Term"</b> means [the term of this Agreement, commencing in accordance with Clause 3.1 and ending in accordance with Clause 3.2].

</p><br>
<h2><b>2.	Credit</b></h2>
<p>
2.1	This document was created using PolicyFrame(<a href="https://Policyframe.com">https://Policyframe.com</a>).
</p>

<h2><b>3.	Term</b></h2>

<p>3.1	This Agreement shall come into force upon the Effective Date.<br>
3.2	This Agreement shall continue in force [indefinitely] OR [until {{date}}, at the beginning of which this Agreement shall terminate automatically] OR [until {{eventName}}, upon which this Agreement shall terminate automatically], subject to termination in accordance with Clause 7 or any other provision of this Agreement.
</p>
<h2><b>4.	Consideration</b></h2>
<p>4.1	The Recipient has entered into this Agreement, and agrees to the provisions of this Agreement, in consideration for [the payment by the Disclosor to the Recipient of the sum of [GBP 1.00], receipt of which the Recipient now acknowledges] OR [[specify consideration]].
</p>

<h2><b>5.	Recipient's confidentiality obligations</b></h2>
<p>5.1	The Recipient must:<br>
(a)	keep the Disclosor Confidential Information strictly confidential;<br>
(b)	not disclose the Disclosor Confidential Information to any person without the Disclosor's prior written consent[, and then only under conditions of confidentiality [approved in writing by the Disclosor] OR [no less onerous than those contained in this Agreement]];<br>
(c)	use the same degree of care to protect the confidentiality of the Disclosor Confidential Information as the Recipient uses to protect the Recipient's own confidential information of a similar nature, being at least a reasonable degree of care;<br>
(d)	[act in good faith at all times in relation to the Disclosor Confidential Information]; and<br>
(e)	[not use any of the Disclosor Confidential Information for any purpose ].<br><br>

5.2	Notwithstanding Clause 5.1, the Recipient may disclose the Disclosor Confidential Information to the Recipient's [officers, employees, professional advisers, insurers, agents and subcontractors] [who have a need to access the Disclosor Confidential Information for the performance of their work with respect to the Permitted Purpose and ]who are bound by a written agreement or professional obligation to protect the confidentiality of the Disclosor Confidential Information.<br><br>
5.3	This Clause 5 imposes no obligations upon the Recipient with respect to Disclosor Confidential Information that:<br>
(a)	is known to the Recipient before disclosure under this Agreement and is not subject to any other obligation of confidentiality;<br>
(b)	is or becomes publicly known through no act or default of the Recipient; or
(c)	[is obtained by the Recipient from a third party in circumstances where the Recipient has no reason to believe that there has been a breach of an obligation of confidentiality].<br>
5.4	The restrictions in this Clause 5 do not apply to the extent that any Disclosor Confidential Information is required to be disclosed by any law or regulation, by any judicial or governmental order or request, or pursuant to disclosure requirements relating to the listing of the stock of the Recipient on any recognised stock exchange.<br>
5.5	Upon the termination of this Agreement, the Recipient must immediately cease to use the Disclosor Confidential Information.<br>
5.6	[Following the termination of this Agreement, and within [5 Business Days] following the date of receipt of a written request from the Disclosor] OR [Within [5 Business Days] following the date of termination of this Agreement], the Recipient must destroy or return to the Disclosor (at the Disclosor's option) all media containing Disclosor Confidential Information, and must irrevocably delete the Disclosor Confidential Information from its computer systems.<br>
5.7	The provisions of this Clause 5 shall continue in force [indefinitely following the termination of this Agreement] OR [for a period of [5 years] following the termination of this Agreement, at the end of which period they will cease to have effect].<br>
</p>

<h2><b>6.	Warranties</b></h2>

<p>6.1	The Disclosor warrants to the Recipient that it has the legal right and authority to enter into this Agreement and to perform its obligations under this Agreement.<br>
6.2	The Recipient warrants to the Disclosor that it has the legal right and authority to enter into this Agreement and to perform its obligations under this Agreement.<br>
6.3	All of the parties' warranties and representations in respect of the subject matter of this Agreement are expressly set out in this Agreement. To the maximum extent permitted by applicable law, no other warranties or representations concerning the subject matter of this Agreement will be implied into this Agreement or any related contract.
</p><br>

<h2><b>7.	Termination</b></h2>
<p>
7.1	Either party may terminate this Agreement [forthwith by giving written notice of termination to the other party] OR [by giving [at least 7 days'] written notice of termination to the other party].
</p><br>
<h2><b>
8.	Effects of termination</b></h2>
<p>
8.1	Upon the termination of this Agreement, all of the provisions of this Agreement shall cease to have effect, save that the following provisions of this Agreement shall survive and continue to have effect (in accordance with their express terms or otherwise indefinitely): [Clauses 1, 5, 8 and 9].
<br>
8.2	Except to the extent that this Agreement expressly provides otherwise, the termination of this Agreement shall not affect the accrued rights of either party.
</p><br>

<h2><b>9.	General</b></h2>

<p>9.1	No breach of any provision of this Agreement shall be waived except with the express written consent of the party not in breach.<br>
9.2	If any provision of this Agreement is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions of this Agreement will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect (unless that would contradict the clear intention of the parties, in which case the entirety of the relevant provision will be deemed to be deleted).<br>
9.3	This Agreement may not be varied except by a written document signed by or on behalf of each of the parties.<br>
9.4	Neither party may without the prior written consent of the other party assign, transfer, charge, license or otherwise deal in or dispose of any contractual rights or obligations under this Agreement.<br>
9.5	This Agreement is made for the benefit of the parties, and is not intended to benefit any third party or be enforceable by any third party. The rights of the parties to terminate, rescind, or agree any amendment, waiver, variation or settlement under or relating to this Agreement are not subject to the consent of any third party.<br>
9.6	Nothing in this Agreement shall exclude or limit any liability of a party for fraud or fraudulent misrepresentation, or any other liability of a party that may not be excluded or limited under applicable law.<br>
9.7	Subject to Clause 9.6, this Agreement shall constitute the entire agreement between the parties in relation to the subject matter of this Agreement, and shall supersede all previous agreements, arrangements and understandings between the parties in respect of that subject matter.<br>
9.8	This Agreement shall be governed by and construed in accordance with [English law].<br>
9.9	The courts of [England] shall have exclusive jurisdiction to adjudicate any dispute arising under or in connection with this Agreement.</p><br>
<h2><b>
EXECUTION</b></h2>
<p>
The parties have indicated their acceptance of this Agreement by executing it below.
SIGNED BY [[individual name] on [...............], the Disclosor] OR [[individual name] on [...............], duly authorised for and on behalf of the Disclosor]:
........................................
SIGNED BY [[individual name] on [...............], the Recipient] OR [[individual name] on [...............], duly authorised for and on behalf of the Recipient]:
........................................
</p>

</span>

    


  </mat-tab>
  <mat-tab label="HTML">

  	<br>
  	
      <button  style="float: right;" mat-fab color="primary" type="button" appCopyClipboard (click)="copyHtml()"  ><i class="fa fa-clone" aria-hidden="true"></i></button>

<br><br>
  	
<textarea id="content">
 
 

<span id="container">
 
 <h1><b>  Non-Disclosure agreement</b></h1>

<b>DATE</b>
[Date]

<h2><b>PARTIES</b></h2>
<ol>
 <li>1. [{{CEO}} of {{companyAddress}}] OR {{companyName}}, a company incorporated in [England and Wales] (registration number {{registerNumber}}) having its registered office at {{companyAddress}}] OR [[PARTNERSHIP NAME], a partnership established under the laws of [England and Wales] having its principal place of business at {{companyAddress}}] (the "Disclosor"); and </li>
 <li>2. [{{CEO}} of {{companyAddress}}] OR [{{companyName}}, a company incorporated in [England and Wales] (registration number {{registerNumber}}) having its registered office at [address]] OR [[PARTNERSHIP NAME], a partnership established under the laws of [England and Wales] having its principal place of business at {{companyAddress}}] (the "Recipient").
 </li>
</ol>

<h2><b>AGREEMENT</b></h2>

<h2><b>1. Definitions</b></h2>
<p>1.1  In this Agreement[, except to the extent expressly provided otherwise]:<br>
 <b>"Agreement"</b> means this agreement, and any amendments to this agreement from time to time;<br>
<b>"Business Day"</b> means any weekday other than a bank or public holiday in [England];<br>
<b>"Disclosor Confidential Information"</b> means:<br>
(a) any information disclosed by [or on behalf of ]the Disclosor to the Recipient [during the Term] OR [at any time before the termination of this Agreement] (whether disclosed in writing, orally or otherwise) that at the time of disclosure was marked[ or described] as "confidential" or should have been understood by the Recipient (acting reasonably) to be confidential; and<br>
(b) [the terms of this Agreement];

<b>"Effective Date"</b> means [the date of execution of this Agreement];<br>
<b>"Permitted Purpose"</b> means [specify purpose or purposes]; and<br>
<b>"Term"</b> means [the term of this Agreement, commencing in accordance with Clause 3.1 and ending in accordance with Clause 3.2].

</p><br>
<h2><b>2. Credit</b></h2>
<p>
2.1 This document was created using PolicyFrame(<a href="https://Policyframe.com">https://Policyframe.com</a>).
</p>

<h2><b>3. Term</b></h2>

<p>3.1  This Agreement shall come into force upon the Effective Date.<br>
3.2 This Agreement shall continue in force [indefinitely] OR [until {{date}}, at the beginning of which this Agreement shall terminate automatically] OR [until {{eventName}}, upon which this Agreement shall terminate automatically], subject to termination in accordance with Clause 7 or any other provision of this Agreement.
</p>
<h2><b>4. Consideration</b></h2>
<p>4.1  The Recipient has entered into this Agreement, and agrees to the provisions of this Agreement, in consideration for [the payment by the Disclosor to the Recipient of the sum of [GBP 1.00], receipt of which the Recipient now acknowledges] OR [[specify consideration]].
</p>

<h2><b>5. Recipient's confidentiality obligations</b></h2>
<p>5.1  The Recipient must:<br>
(a) keep the Disclosor Confidential Information strictly confidential;<br>
(b) not disclose the Disclosor Confidential Information to any person without the Disclosor's prior written consent[, and then only under conditions of confidentiality [approved in writing by the Disclosor] OR [no less onerous than those contained in this Agreement]];<br>
(c) use the same degree of care to protect the confidentiality of the Disclosor Confidential Information as the Recipient uses to protect the Recipient's own confidential information of a similar nature, being at least a reasonable degree of care;<br>
(d) [act in good faith at all times in relation to the Disclosor Confidential Information]; and<br>
(e) [not use any of the Disclosor Confidential Information for any purpose ].<br><br>

5.2 Notwithstanding Clause 5.1, the Recipient may disclose the Disclosor Confidential Information to the Recipient's [officers, employees, professional advisers, insurers, agents and subcontractors] [who have a need to access the Disclosor Confidential Information for the performance of their work with respect to the Permitted Purpose and ]who are bound by a written agreement or professional obligation to protect the confidentiality of the Disclosor Confidential Information.<br><br>
5.3 This Clause 5 imposes no obligations upon the Recipient with respect to Disclosor Confidential Information that:<br>
(a) is known to the Recipient before disclosure under this Agreement and is not subject to any other obligation of confidentiality;<br>
(b) is or becomes publicly known through no act or default of the Recipient; or
(c) [is obtained by the Recipient from a third party in circumstances where the Recipient has no reason to believe that there has been a breach of an obligation of confidentiality].<br>
5.4 The restrictions in this Clause 5 do not apply to the extent that any Disclosor Confidential Information is required to be disclosed by any law or regulation, by any judicial or governmental order or request, or pursuant to disclosure requirements relating to the listing of the stock of the Recipient on any recognised stock exchange.<br>
5.5 Upon the termination of this Agreement, the Recipient must immediately cease to use the Disclosor Confidential Information.<br>
5.6 [Following the termination of this Agreement, and within [5 Business Days] following the date of receipt of a written request from the Disclosor] OR [Within [5 Business Days] following the date of termination of this Agreement], the Recipient must destroy or return to the Disclosor (at the Disclosor's option) all media containing Disclosor Confidential Information, and must irrevocably delete the Disclosor Confidential Information from its computer systems.<br>
5.7 The provisions of this Clause 5 shall continue in force [indefinitely following the termination of this Agreement] OR [for a period of [5 years] following the termination of this Agreement, at the end of which period they will cease to have effect].<br>
</p>

<h2><b>6. Warranties</b></h2>

<p>6.1  The Disclosor warrants to the Recipient that it has the legal right and authority to enter into this Agreement and to perform its obligations under this Agreement.<br>
6.2 The Recipient warrants to the Disclosor that it has the legal right and authority to enter into this Agreement and to perform its obligations under this Agreement.<br>
6.3 All of the parties' warranties and representations in respect of the subject matter of this Agreement are expressly set out in this Agreement. To the maximum extent permitted by applicable law, no other warranties or representations concerning the subject matter of this Agreement will be implied into this Agreement or any related contract.
</p><br>

<h2><b>7. Termination</b></h2>
<p>
7.1 Either party may terminate this Agreement [forthwith by giving written notice of termination to the other party] OR [by giving [at least 7 days'] written notice of termination to the other party].
</p><br>
<h2><b>
8.  Effects of termination</b></h2>
<p>
8.1 Upon the termination of this Agreement, all of the provisions of this Agreement shall cease to have effect, save that the following provisions of this Agreement shall survive and continue to have effect (in accordance with their express terms or otherwise indefinitely): [Clauses 1, 5, 8 and 9].
<br>
8.2 Except to the extent that this Agreement expressly provides otherwise, the termination of this Agreement shall not affect the accrued rights of either party.
</p><br>

<h2><b>9. General</b></h2>

<p>9.1  No breach of any provision of this Agreement shall be waived except with the express written consent of the party not in breach.<br>
9.2 If any provision of this Agreement is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions of this Agreement will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect (unless that would contradict the clear intention of the parties, in which case the entirety of the relevant provision will be deemed to be deleted).<br>
9.3 This Agreement may not be varied except by a written document signed by or on behalf of each of the parties.<br>
9.4 Neither party may without the prior written consent of the other party assign, transfer, charge, license or otherwise deal in or dispose of any contractual rights or obligations under this Agreement.<br>
9.5 This Agreement is made for the benefit of the parties, and is not intended to benefit any third party or be enforceable by any third party. The rights of the parties to terminate, rescind, or agree any amendment, waiver, variation or settlement under or relating to this Agreement are not subject to the consent of any third party.<br>
9.6 Nothing in this Agreement shall exclude or limit any liability of a party for fraud or fraudulent misrepresentation, or any other liability of a party that may not be excluded or limited under applicable law.<br>
9.7 Subject to Clause 9.6, this Agreement shall constitute the entire agreement between the parties in relation to the subject matter of this Agreement, and shall supersede all previous agreements, arrangements and understandings between the parties in respect of that subject matter.<br>
9.8 This Agreement shall be governed by and construed in accordance with [English law].<br>
9.9 The courts of [England] shall have exclusive jurisdiction to adjudicate any dispute arising under or in connection with this Agreement.</p><br>
<h2><b>
EXECUTION</b></h2>
<p>
The parties have indicated their acceptance of this Agreement by executing it below.
SIGNED BY [[individual name] on [...............], the Disclosor] OR [[individual name] on [...............], duly authorised for and on behalf of the Disclosor]:
........................................
SIGNED BY [[individual name] on [...............], the Recipient] OR [[individual name] on [...............], duly authorised for and on behalf of the Recipient]:
........................................
</p>

</span>


</textarea>

</mat-tab>
</mat-tab-group>


</div>








</mat-card>

















<br><br><br>